
.author__avatar {
  width: 110px;
}

.author__avatar img {
  max-width: 110px;
  border-radius: 50%;
}

@include breakpoint($large) {
  .author__avatar {
    width: auto;
  }

  .author__avatar img {
    max-width: 220px;
  }
}